@import url("http://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=Capriola");
@import url("http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic");
body {
  background: url("../img/mooning.png") repeat #787878;
  font-size: 15px;
}
.dials {
  margin: 50px 40px;
  text-align: center;
}
.dial {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #aaa;
  text-align: center;
  width: 340px;
  height: 180px;
  margin: 40px 20px 0px;
  padding: 7px 0;
  background: #fafafa;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
}
.dial:hover {
  border: 1px solid #787878;
}
#dial1 .dial-icon {
  background-image: url("../img/dials/feedly.png");
}
#dial2 .dial-icon {
  background-image: url("../img/dials/getpocket.png");
}
#dial3 .dial-icon {
  background-image: url("../img/dials/vkcom.png");
}
#dial4 .dial-icon {
  background-image: url("../img/dials/habrahabr.png");
}
#dial5 .dial-icon {
  background-image: url("../img/dials/gmail.png");
}
#dial6 .dial-icon {
  background-image: url("../img/dials/evernote.png");
}
#dial7 .dial-icon {
  background-image: url("../img/dials/imgur.png");
}
#dial8 .dial-icon {
  background-image: url("../img/dials/hulu.png");
}
#dial9 .dial-icon {
  background-image: url("../img/dials/php.png");
}
#dialplus .dial-icon {
  background-image: url("../img/dials/plus.png");
}
body {
  background: #fafafa;
}
.dial {
  position: relative;
  background: #f00;
}
.dial-description {
  position: relative;
  display: inline;
  line-height: 180px;
}
.dial-icon,
.dial-address {
  display: none;
}
.dial-heading {
  position: relative;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-family: 'Capriola', 'Philosopher', sans-serif;
  font-family: 'Capriola', sans-serif;
  font-weight: 700;
  color: #fafafa;
  font-size: 2.3em;
}
#dial1.dial {
  background: #4cba28;
}
#dial2.dial {
  background: #ee4055;
}
#dial3.dial {
  background: #4c75a3;
}
#dial4.dial {
  background: #78a3b6;
}
#dial5.dial {
  background: #ab3226;
}
#dial6.dial {
  background: #6cb043;
}
#dial7.dial {
  background: #8ac724;
}
#dial8.dial {
  background: #6cb043;
}
#dial9.dial {
  background: #6c7eb7;
}
