border-box() {
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
}

border-radius(n) {
  -webkit-border-radius n
  border-radius n
}

transition(transition) {
  -moz-transition transition
  -o-transition transition
  -webkit-transition transition
  transition transition
}

box-shadow(value) {
  -webkit-box-shadow value
  -moz-box-shadow value
  box-shadow value
}


$white = #fafafa
$graylight = #eaeaea
$gray = #787878
$black = #111111


body
  background url(../img/mooning.png) repeat $white
  font-size 15px

.dials
  margin 50px 40px
  text-align center

.dial
  position relative
  display inline-block
  vertical-align top
  border 1px solid #aaa
  text-align center
  width 340px
  height 180px
  margin 40px 20px 0px
  padding 7px 0
  background $white
  border-radius 6px
  > a
    display inline-block
    width 100%
    text-decoration none
  &:hover
    border 1px solid $gray

.dial-bg
  position relative
  display inline-block
  width 240px
  height 180px
  background-repeat no-repeat
  -webkit-background-size 100% 100%
  background-size 100% 100%

#dial1 > .dial-bg
  background-image url(../img/dials/feedly.png)
#dial2 > .dial-bg
  background-image url(../img/dials/getpocket.png)
#dial3 > .dial-bg
  background-image url(../img/dials/vkcom.png)
#dial4 > .dial-bg
  background-image url(../img/dials/habrahabr.png)
#dial5 > .dial-bg
  background-image url(../img/dials/gmail.png)
#dial6 > .dial-bg
  background-image url(../img/dials/evernote.png)
#dial7 > .dial-bg
  background-image url(../img/dials/imgur.png)
#dial8 > .dial-bg
  background-image url(../img/dials/hulu.png)
#dial9 > .dial-bg
  background-image url(../img/dials/php.png)
#dialplus > .dial-bg
  background-image url(../img/dials/plus.png)


.dial-description
  color $black
  font 1em Arial
  display none