border-box() {
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
}

border-radius(n) {
  -webkit-border-radius n
  border-radius n
}

transition(transition) {
  -moz-transition transition
  -o-transition transition
  -webkit-transition transition
  transition transition
}

box-shadow(value) {
  -webkit-box-shadow value
  -moz-box-shadow value
  box-shadow value
}