@import url(http://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Noto\+Serif&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Capriola);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic);

body
  background url(../img/mooning.png) repeat $gray
  font-size 15px

.dials-container
  position fixed
  top: 0
  bottom: 100px
  overflow-y auto
  overflow-x hidden
  left 0
  right 0

.dials
  position relative
  display inline-block
  margin 50px 40px
  text-align center

.dial
  position relative
  display inline-block
  vertical-align top
  border 1px solid #aaa
  text-align center
  width $dial-width
  height $dial-height
  margin 40px 20px 0px
  padding 7px 0
  background $white
  border-radius(6px)
  text-decoration none
  &:hover
    border 1px solid $gray

#dial1 .dial-icon
  background-image url(../img/dials/feedly.png)
#dial2 .dial-icon
  background-image url(../img/dials/vspmr2.png)
#dial3 .dial-icon
  background-image url(../img/dials/vkcom1.png)
#dial4 .dial-icon
  background-image url(../img/dials/php2.png)
#dial5 .dial-icon
  background-image url(../img/dials/evernote.png)
#dial6 .dial-icon
  background-image url(../img/dials/pocket.png)

.chrome-dials
  display none
  position fixed
  background rgba(150, 150, 150, 0.15)
  padding 15px
  bottom 0px
  right 100px
  width 235px
  height 60px

.chrome-dial
  position relative
  display inline
  cursor pointer
  margin-left 15px
  text-decoration none
  > img
    width 60px
    height 60px

.apps-viewer
  display none
//   background red
//   z-index 2
//   position absolute
//   bottom 80px
//   right -50px
//   width 200px
//   height 150px