@import url(http://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Noto\+Serif&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Capriola);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic);

body
  background url(../img/mooning.png) repeat $gray
  font-size 15px

.dials
  margin 50px 40px
  text-align center

.dial
  position relative
  display inline-block
  vertical-align top
  border 1px solid #aaa
  text-align center
  width $dial-width
  height $dial-height
  margin 40px 20px 0px
  padding 7px 0
  background $white
  border-radius(6px)
  text-decoration none
  &:hover
    border 1px solid $gray

#dial1 .dial-icon
  background-image url(../img/dials/feedly.png)
#dial2 .dial-icon
  background-image url(../img/dials/getpocket.png)
#dial3 .dial-icon
  background-image url(../img/dials/vkcom.png)
#dial4 .dial-icon
  background-image url(../img/dials/habrahabr.png)
#dial5 .dial-icon
  background-image url(../img/dials/gmail.png)
#dial6 .dial-icon
  background-image url(../img/dials/evernote.png)
#dial7 .dial-icon
  background-image url(../img/dials/imgur.png)
#dial8 .dial-icon
  background-image url(../img/dials/hulu.png)
#dial9 .dial-icon
  background-image url(../img/dials/php.png)
#dialplus .dial-icon
  background-image url(../img/dials/plus.png)