.dial-icon
  position relative
  display inline-block
  width 240px
  height 180px
  background-repeat no-repeat
  -webkit-background-size 100% 100%
  background-size 100% 100%


.dial-description
  display none