.dial-icon
  float left
  position relative
  display inline-block
  width 128px
  height 128px
  margin 30px 0 0 30px
  background-repeat no-repeat
  -webkit-background-size 100% 100%
  background-size 100% 100%

.dial-description
  display inline-block
  margin 65px 20px 0 0
  height 40px
  font-family Arial

.dial-heading
  font-family 'Noto Serif', serif
  color $black
  font-size 1.3em

.dial-address
  padding-top 5px
  font-family 'Forum', cursive
  color $gray
  font-size 1em