body
  background $white

.dial
  position relative
  background red

.dial-description
  position relative
  display inline
  line-height $dial-height

.dial-icon, .dial-address
  display none

.dial-heading
  position relative
  text-align center
  font-family 'Philosopher', sans-serif
  font-family 'Capriola', 'Philosopher', sans-serif
  font-family 'Capriola', sans-serif
  font-weight 700
  color $white
  font-size 2.3em

#dial1.dial
  background #4cba28
#dial2.dial
  background #ee4055
#dial3.dial
  background #4c75a3
#dial4.dial
  background #78a3b6
#dial5.dial
  background #ab3226
#dial6.dial
  background #6cb043
#dial7.dial
  background #8ac724
#dial8.dial
  background #6cb043
#dial9.dial
  background #6c7eb7